<!DOCTYPE html>
<html>
	<head>
	<%- include ("../partials/head.ejs") %>
	</head>
	<body>
		<%- include ("../partials/menu.ejs") %>
		<%- include ("../partials/submenu.ejs") %>
		
		<div class="content mw-100 mh-100" id="content">		
		<%- include ("../partials/createRecipe.ejs") %>
		<%- include ("../partials/updateRecipe.ejs") %>
			<div class="d-flex p-4 flex-wrap justify-content-around">
				<%
				if (recipes.length > 0) 
				{
					for (var i = 0; i < recipes.length; i++)
					{
					%>
						<div class="card p-3 recipe">
							<div class="card-header">
								<h2><%=recipes[i].recipename %></h2>
							</div>
							<div class="card-body">
								<div class="list-group">
									<div class="list-group-item">
										<h3>Ingredients</h3>
										<hr>
										<ol class="list-group">
											<% 
											if (typeof(recipes[i].ingredients) != 'undefined') 
											{
												
												var ingredients = JSON.parse(recipes[i].ingredients);
												for (key in ingredients)
												{
												%>
													<li class="list-group-item">
														<span class="d-flex justify-content-between">
															<span><%=ingredients[key]['name'] %></span>
															<span><%= ingredients[key]['qty'] %> <%= ingredients[key]['unit'] %></span> 
														</span>
													</li>
												<%
												}
											}
											%>
										</ol>
									</div>
									<div class="list-group-item">
										<h3>Directions</h3>
										<hr>
										<ol class="list-group">
											<% 
											if (typeof(recipes[i].recipe) != 'undefined') 
											{
												var directions = JSON.parse(recipes[i].recipe);
												for (key in directions)
												{
												%>
													<li class="list-group-item">
														<span class="">
															<span><%=directions[key]['step'] %></span> 
														</span>
													</li>
												<%
												}
											}
											%>
										</ol>
									</div>
								</div>
							</div>
								<button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#updateRecipeModal_<%=recipes[i].recipeid%>">Update Recipe</button>
						</div>
				<%
					}
				}
				else
				{
					%>
					<h2>No Recipes to show</h2>
					<%
				}
				%>
				
			</div>
		</div>
		<script src="javascript/recipes.js"></script>
	</body>
</html>
